<mat-toolbar *ngIf="router.url !== '/login'"> 
    <!-- <span><img class="logo" src="../../../assets/images/KL.png" alt=""></span> -->

 <button mat-raised-button color="accent"  [matMenuTriggerFor]="menu">Funtuta</button>
    <mat-menu #menu="matMenu">
      <button mat-raised-button color="accent" routerLink="../packages">About</button>
      <button mat-raised-button color="accent" routerLink="../packages">Contact Us</button>
    </mat-menu>
   
    <span class="spacer"></span>

    <button mat-raised-button color="primary" routerLink="../home">Home</button>
    <button mat-raised-button color="accent" routerLink="../hotels">Hotels</button>
    <button mat-raised-button color="accent" routerLink="../flights">Flights</button>
    <button mat-raised-button color="accent" routerLink="../packages">Packages</button>
    <button mat-raised-button color="accent" routerLink="../thingstodo">Things to Do</button>

</mat-toolbar> 
