

   .nav{
    width: 10px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
   }
  
   /* .logo{
    height: 50px;
     width: 50px;
    
   } */


   .mat-toolbar{
    /* background-color:bisque;
    color: white; */
  }
  .mat-button{
     color: white;
  }
  .spacer{
    flex: 1 1 auto;
  }