

<!-- <div *ngFor="let user of users">
  <div>{{user.firstName}}</div>
></div> -->
<!-- <div>
  <input type="flights" name="Flights" id="">
  <mat-card>Flights</mat-card>
  <mat-card>Hotels</mat-card>
  <mat-card>Packages</mat-card>
</div>
<mat-card>

</mat-card> -->


<mat-tab-group class="mat-tab-group">
  <mat-tab label="Flights"> Flights </mat-tab>
  <mat-tab label="Hotels"> Hotels</mat-tab>
  <mat-tab label="Packages"> Packages </mat-tab>
  <mat-tab label="Cruises">  Cruises </mat-tab>
  <mat-tab label="Cars"> Cars </mat-tab>
  <mat-tab label="Things to do"> Things to do </mat-tab>
</mat-tab-group>

